<div id="survey-app-main-wrapper">

</div>

{% assign app_id = "272705978369" %}
{% assign metaobject_type = "app--" | append: app_id | append: "--post_purchase_survey" %}
{% assign metaobject_data = shop.metaobjects[metaobject_type] %}
{% assign survey_data_json = metaobject_data.post_purchase_survey.settings | default: "{}" %}
{% assign survey_data = survey_data_json | json %}

<script>
        window.PostPurchaseSurveyData = {
            value: {{ survey_data_json }},
            customerId: {{ customer.id | default: 'null' }},
            orderId: {% if order %}{{ order.id }}{% else %}null{% endif %},
            pageType: "{{ template.name }}"
        };

        if (window.PostPurchaseSurveyData?.value?.onsite_survey?.length > 0) {
            const surveyUuids = window.PostPurchaseSurveyData.value.onsite_survey.map(survey => survey.uuid);
            localStorage.setItem('onsite_survey_uuids', JSON.stringify(surveyUuids));
        }
</script>

<script  src="{{ "survey-app-main.js" | asset_url }}" defer></script>

{% schema %}
{
  "name": "Survey App Assets",
  "target": "body",
  "settings": []
}
{% endschema %}

